<nav class="navbar navbar-expand-lg bg-body-tertiary" style="border-bottom:1px solid darkgray; width:98%; margin-left:1%;">
    <div class="container-fluid">

        <nav class="menu">
            <ul>
              <li><a href="/reparation/show"> Reparation </a></li>
              <li><a href="/type-reparation/show"> Type de reparation </a></li>
              <li><a href="/reparation/filtre"> Filtre </a></li>
                <li><a href="/reparation/etat"> Etat </a></li>
            </ul>
        </nav>

    </div>
</nav>